# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/dist

# production
/build

# misc
.DS_Store
*.pem
*.log
*.log.*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript build info
tsconfig.tsbuildinfo

# vercel
.vercel

# backup folders
backup_preview/
scripts/backup_preview/
**/backup_preview/**

# editor files
.idea/
.vscode/
*.swp
